.checkout {
  display: flex;
  flex-direction: column;
  padding: 20px;
  background-color: white;
  height: max-content;
}

.checkout-ad {
  width: 100%;
  margin-bottom: 10px;
}

.checkout-title {
  margin-right: 15px;
  padding: 10px;
  border-bottom: 1px solid lightgray;
}

@media (min-width: 768px) {
  .checkout {
    flex-direction: row;
  }

  .checkout-ad {
    width: 75%;
  }

  .checkout-title {
    width: 25%;
  }
}

@media (min-width: 1024px) {
  .checkout {
    flex-direction: row;
  }

  .checkout-ad {
    width: 70%;
  }

  .checkout-title {
    width: 30%;
  }
}
